@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Hedvig Letters Serif', serif";
    overflow-x: hidden;
}

nav {
    background-color: lightblue;
    height: 90px;
    width: 100%;
}


.navbar-nav {
    margin-left: 62%;
}

.navbar-nav a {
    margin-right: 15PX;
    font-size: 20px;
}

.navbar-nav a:hover {
    font-weight: 600;
    border-bottom: 2px solid royalblue;
    font-size: 1.2rem;
}

.soft {
    color: rgba(255, 68, 0, 0.908);
}

.h1 {
    font-size: 3rem;
}

.developer p {
    padding-right: 200px;
}


/* about me  */
.resume {
    height: 6vh;
    width: 9.2vw;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #fff;
}

.resume:hover {
    background-color: purple;
    color: white;
}

.about img {
    height: 57vh;
    width: 45vw;
}

.intro {
    color: purple;
}

/* project code start  */

.html-css{
    display: none;
}

.css {
    padding: 20px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 40px;
    box-shadow: 20px 20px 60px #00000041,inset -20px -20px 60px #ffffff40;
}

.project img {
    position: absolute;
    left: 66px;
    bottom: 119px;
    height: 239px;
    width: 428px;
}

.git_hub {
    font-size: 1.4rem;
    color: gray;
}

.git_hub:hover{
    border-bottom: 1.5px solid green;
    color: red;
}

.bootstrap{
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}

.swiggy_project img{
    height: 240px;
    bottom: 235px;
    left: 78px;
    position: absolute;
    width: 424px;
}
